<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Contato</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <section>
        <h2>Informações de Contato</h2>
        <p>Email: guilherme.cotta@ges.inatel.br</p>
        <p>Telefone: (35)99999-9999</p>
        <p>GitHub: github.com/guilhermecmr</p>
    </section>
</body>
</html>